.card {
  display: flex;
  flex-direction: column;

  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  width:fit-content;
  justify-content: flex-start;
  cursor: pointer;
  /* gap:1; */
  /* align-items: center; */
background-color: var(--light-color);
    padding: 0.5rem;
    /* box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2); */
    box-shadow: var(--bx-sh-2);
    border-radius: var(--br-radius);
  }
  .card:hover
  {
    box-shadow: var(--bx-sh-1);

  }
    .card-header {
        padding: 0.5rem;
        border-radius: 0.125rem 0.125rem 0 0;
    }
    .card-footer {
        padding: 0.5rem;
        border-radius: 0 0 0.125rem 0.125rem;
    }
   .card-title{

   }
.card-description
{
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
  /* .card .card-title {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
  } */
  .card .card-body {
    font-size: 1rem;
  }
  /* .card .card-body a {
    text-decoration: underline;
  } */

  .card-horizontal{
    flex-direction: row !important;
    justify-content: flex-start;
    gap:1;
    align-items: flex-start ;
  }
  .card-vertical{
    flex-direction: column !important;
    justify-content: flex-start;
    gap:1;
    align-items: center;
  }