
  
.p-0 {
  padding: 0 ;
}
.p-05 {
  padding: 0.25rem ;
}
.p-1 {
  padding: 0.5rem ;
}

.p-2 {
  padding: 1rem ;
}

.p-3 {
  padding: 2rem ;
}

.p-4 {
  padding: 3rem ;
}

.p-5 {
  padding: 4rem ;
}

.pl-0 {
  padding-left: 0 ;
}
.pl-05 {
  padding-left: 0.25rem ;
}
.pl-1 {
  padding-left: 0.5rem ;
}

.pl-2 {
  padding-left: 1rem ;
}

.pl-3 {
  padding-left: 2rem ;
}

.pl-4 {
  padding-left: 3rem ;
}

.pl-5 {
  padding-left: 4rem ;
}

.pr-0 {
  padding-right: 0 ;
}
.pr-05 {
  padding-right: 0.25rem ;
}
.pr-1 {
  padding-right: 0.5rem ;
}

.pr-2 {
  padding-right: 1rem ;
}

.pr-3 {
  padding-right: 2rem ;
}

.pr-4 {
  padding-right: 3rem ;
}

.pr-5 {
  padding-right: 4rem ;
}

.pt-0 {
  padding-top: 0 ;
}
.pt-05 {
  padding-top: 0.25rem ;
}
.pt-1 {
  padding-top: 0.5rem ;
}

.pt-2 {
  padding-top: 1rem ;
}

.pt-3 {
  padding-top: 2rem ;
}

.pt-4 {
  padding-top: 3rem ;
}

.pt-5 {
  padding-top: 4rem ;
}

.pb-0 {
  padding-bottom: 0 ;
}
.pb-05 {
  padding-bottom: 0.25rem ;
}

.pb-1 {
  padding-bottom: 0.5rem ;
}

.pb-2 {
  padding-bottom: 1rem ;
}

.pb-3 {
  padding-bottom: 2rem ;
}

.pb-4 {
  padding-bottom: 3rem ;
}

.pb-5 {
  padding-bottom: 4rem ;
}
.m-auto{
    margin:0px auto ;
}
.m-0 {
  margin: 0 ;
}
.m-05{
  margin: 0.25rem ;

}
.m-1 {
  margin: 0.5rem ;
}

.m-2 {
  margin: 1rem ;
}

.m-3 {
  margin: 2rem ;
}

.m-4 {
  margin: 3rem ;
}

.m-5 {
  margin: 4rem ;
}

.ml-0 {
  margin-left: 0 ;
}
.ml-05{
  margin-left: 0.25rem ;

}
.ml-1 {
  margin-left: 0.5rem ;
}

.ml-2 {
  margin-left: 1rem ;
}

.ml-3 {
  margin-left: 2rem ;
}

.ml-4 {
  margin-left: 3rem ;
}

.ml-5 {
  margin-left: 4rem ;
}

.mr-0 {
  margin-right: 0 ;
}

.mr-1 {
  margin-right: 0.5rem ;
}

.mr-2 {
  margin-right: 1rem ;
}

.mr-3 {
  margin-right: 2rem ;
}

.mr-4 {
  margin-right: 3rem ;
}

.mr-5 {
  margin-right: 4rem ;
}

.mt-0 {
  margin-top: 0 ;
}
.mt-05{
  margin-top: 0.25rem ;

}

.mt-1 {
  margin-top: 0.5rem ;
}

.mt-2 {
  margin-top: 1rem ;
}

.mt-3 {
  margin-top: 2rem ;
}

.mt-4 {
  margin-top: 3rem ;
}

.mt-5 {
  margin-top: 4rem ;
}

.mb-0 {
  margin-bottom: 0 ;
}
.mb-05{
  margin-bottom: 0.25rem ;

}
.mb-1 {
  margin-bottom: 0.5rem ;
}

.mb-2 {
  margin-bottom: 1rem ;
}

.mb-3 {
  margin-bottom: 2rem ;
}

.mb-4 {
  margin-bottom: 3rem ;
}

.mb-5 {
  margin-bottom: 4rem ;
}

.o-10 {
  opacity: 0.1 ;
}

.o-20 {
  opacity: 0.2 ;
}

.o-30 {
  opacity: 0.3 ;
}

.o-40 {
  opacity: 0.4 ;
}

.o-50 {
  opacity: 0.5 ;
}

.o-60 {
  opacity: 0.6 ;
}

.o-70 {
  opacity: 0.7 ;
}

.o-80 {
  opacity: 0.8 ;
}

.o-90 {
  opacity: 0.9 ;
}

.o-100 {
  opacity: 1 ;
}

.br {
  border-radius: 0.5rem ;
}

.br-none {
  border-radius: 0 ;
}

.br-xs {
  border-radius: 0.125rem ;
}

.br-sm {
  border-radius: 0.25rem ;
}

.br-lg {
  border-radius: 1rem ;
}

.br-full {
  border-radius: 50% ;
}


.float-right	{float: right ;}
.float-left	{float: left ;}
.float-none	{float: none ;}
.clear-left	{clear: left ;}
.clear-right	{clear: right ;}
.clear-both	{clear: both ;}
.clear-none	{clear: none ;}


.object-contain	{object-fit: contain ;}
.object-cover	{object-fit: cover ;}
.object-fill	{object-fit: fill ;}
.object-none	{object-fit: none ;}
.object-scale-down	{object-fit: scale-down ;}

.object-bottom	{object-position: bottom ;}
.object-center	{object-position: center ;}
.object-left	{object-position: left ;}
.object-left-bottom	{object-position: left bottom ;}
.object-left-top	{object-position: left top ;}
.object-right	{object-position: right ;}
.object-right-bottom	{object-position: right bottom ;}
.object-right-top	{object-position: right top ;}
.object-top	{object-position: top ;}

.overflow-auto	{overflow: auto ;}
.overflow-hidden	{overflow: hidden ;}
.overflow-clip	{overflow: clip ;}
.overflow-visible	{overflow: visible ;}
.overflow-scroll	{overflow: scroll ;}
.overflow-x-auto	{overflow-x: auto ;}
.overflow-y-auto	{overflow-y: auto ;}
.overflow-x-hidden	{overflow-x: hidden ;}
.overflow-y-hidden	{overflow-y: hidden ;}
.overflow-x-clip	{overflow-x: clip ;}
.overflow-y-clip	{overflow-y: clip ;}
.overflow-x-visible	{overflow-x: visible ;}
.overflow-y-visible	{overflow-y: visible ;}
.overflow-x-scroll	{overflow-x: scroll ;}
.overflow-y-scroll	{overflow-y: scroll ;}

.static	{position: static ;}
.fixed	{position: fixed ;}
.absolute{	position: absolute ;}
.relative	{position: relative ;}
.sticky	{position: sticky ;}
.visible{	visibility: visible ;}
.invisible{	visibility: hidden ;}


.t-0 {
  top: 0 ;
}
.t-05{
  top: 0.25rem ;

}
.t-1 {
  top: 0.5rem ;
}

.t-2 {
  top: 1rem ;
}

.t-3 {
  top: 2rem ;
}

.t-4 {
  top: 3rem ;
}

.t-5 {
  top: 4rem ;
}

.b-0 {
  bottom: 0 ;
}
.b-05{
  bottom: 0.25rem ;

}
.b-1 {
  bottom: 0.5rem ;
}

.b-2 {
  bottom: 1rem ;
}

.b-3 {
  bottom: 2rem ;
}

.b-4 {
  bottom: 3rem ;
}

.b-5 {
  bottom: 4rem ;
}

.l-0 {
  left: 0 ;
}
.l-05{
  left: 0.25rem ;

}
.l-1 {
  left: 0.5rem ;
}

.l-2 {
  left: 1rem ;
}

.l-3 {
  left: 2rem ;
}

.l-4 {
  left: 3rem ;
}

.l-5 {
  left: 4rem ;
}

.r-0 {
  right: 0 ;
}
.r-05{
  right: 0.25rem ;

}
.r-1 {
  right: 0.5rem ;
}

.r-2 {
  right: 1rem ;
}

.r-3 {
  right: 2rem ;
}

.r-4 {
  right: 3rem ;
}

.r-5 {
  right: 4rem ;
}

.z-0	{z-index: 0 ;}
.z-10	{z-index: 10 ;}
.z-20	{z-index: 20 ;}
.z-30	{z-index: 30 ;}
.z-40	{z-index: 40 ;}
.z-50	{z-index: 50 ;}
.z-auto	{z-index: auto ;}

.block	{display: block ;}
.inline-block	{display: inline-block ;}
.inline	{display: inline ;}
.flex	{display: flex ;}
.inline-flex	{display: inline-flex ;}
.table	{display: table ;}
.inline-table	{display: inline-table ;}

.grid	{display: grid ;}
.inline-grid	{display: inline-grid ;}
.contents	{display: contents ;}
.list-item	{display: list-item ;}
.hidden	{display: none ;}
.aspect-auto	{aspect-ratio: auto ;}
.aspect-square	{aspect-ratio: 1 / 1 ;}
.aspect-video	{aspect-ratio: 16 / 9 ;}

.box-border{box-sizing: border-box ;}
.box-content	{box-sizing: content-box ;}

.list-none	{list-style-type: none ;}
.list-disc	{list-style-type: disc ;}
.list-decimal{	list-style-type: decimal ;}

