
.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-tertiary {
    background-color: var(--tertiary-color);
}
.text-primary { color: var(--primary-color); }
.text-secondary { color: var(--secondary-color); }
.text-tertiary { color: var(--tertiary-color); }
.text-error { color: var(--error-color); }
.text-warning { color: var(--warning-color); }
.text-info { color: var(--info-color); }
.text-success { color: var(--success-color); }
.text-light { color: var(--light-color); }
.text-dark { color: var(--dark-color); }
.text-grey { color: var(--grey-color); }
.bg-light { background-color: var(--light-color); }
.bg-dark { background-color: var(--dark-color); }
.bg-grey { background-color: var(--grey-color); }
.br-primary { border-color: var(--primary-color); }
.br-secondary { border-color: var(--secondary-color); }
.br-tertiary { border-color: var(--tertiary-color); }
.br-error { border-color: var(--error-color); }
.br-warning { border-color: var(--warning-color); }
.br-info { border-color: var(--info-color); }
.br-success { border-color: var(--success-color); }
.br-light { border-color: var(--light-color); }
.br-dark { border-color: var(--dark-color); }
.br-grey { border-color: var(--grey-color); }


