.badge{
    right: -15%;
    top:-15%;
position: absolute;
border-radius: 50%;
min-width:1.5rem; 
padding:0.25rem;
 min-height:1.5rem;
 font-size:small;
 background-color: var(--primary-color);
 color: var(--light-color);

}
.badge-primary{
    background-color: var(--primary-color);
}
.badge-secondary{
    background-color: var(--secondary-color);
    color: var(--light-color);
}
.badge-tertiary{
    background-color: var(--tertiary-color);
    color: var(--light-color);
}
.badge-error{
    background-color: var(--error-color);
    color: var(--light-color);
}
.badge-success{
    background-color: var(--success-color);
    color: var(--light-color);
}

.badge-warning{
    background-color: var(--warning-color);
    color: var(--dark-color);
}