

.text-xs	{font-size: 0.75rem;
line-height: 1rem;}
.text-sm	{font-size: 0.875rem;
line-height: 1.25rem;}

.text-base	{font-size: .9rem;
line-height: 1.5rem;}
.text-lg	{font-size: 1.125rem;
line-height: 1.75rem;}
.text-xl	{font-size: 1.25rem;
line-height: 1.75rem;}
.text-2xl	{font-size: 1.5rem;
line-height: 2rem;}
.text-3xl	{font-size: 1.875rem;
line-height: 2.25rem;}
.text-4xl	{font-size: 2.25rem;
line-height: 2.5rem;}
.text-5xl	{font-size: 3rem;
line-height: 1;}
.text-6xl	{font-size: 3.75rem;
line-height: 1;}
.text-7xl	{font-size: 4.5rem;
line-height: 1;}
.text-8xl	{font-size: 6rem;
line-height: 1;}
.text-9xl	{font-size: 8rem;
line-height: 1;}
  
.italic	{font-style: italic;}
.not-italic	{font-style: normal;}


.font-thin	{font-weight: 100;}
.font-extralight	{font-weight: 200;}
.font-light	{font-weight: 300;}
.font-normal	{font-weight: 400;}
.font-medium	{font-weight: 500;}
.font-semibold	{font-weight: 600;}
.font-bold	{font-weight: 700;}
.font-extrabold	{font-weight: 800;}
.font-black	{font-weight: 900;}

.leading-3	{line-height: .75rem;}
.leading-4	{line-height: 1rem;}
.leading-5	{line-height: 1.25rem;}
.leading-6	{line-height: 1.5rem;}
.leading-7	{line-height: 1.75rem;}
.leading-8	{line-height: 2rem;}
.leading-9	{line-height: 2.25rem;}
.leading-10	{line-height: 2.5rem;}
.leading-tight	{line-height: 1.25;}
.leading-snug	{line-height: 1.375;}
.leading-normal{	line-height: 1.5;}
.leading-relaxed{	line-height: 1.625;}
.leading-loose	{line-height: 2;}

.text-left	{text-align: left;}
.text-center	{text-align: center;}
.text-right	{text-align: right;}
.text-justify	{text-align: justify;}

.underline	{text-decoration-line: underline;}
.overline	{text-decoration-line: overline;}
.line-through	{text-decoration-line: line-through;}
.no-underline	{text-decoration-line: none;}

  .center {
    display: grid;
    place-items: center;
  }

  .text-center{
    text-align: center;
  }

  .text-left {
    text-align: left;

  }

  .text-right{
    text-align: right;
  }
  .text-justify{
    text-align: justify;
  }

  .text-md-bold{
    font-weight: 400;
  }
  .text-bolder{
    font-weight: bolder;
  }
  .text-100{
    font-weight: 100;
  }
  .text-200{
    font-weight: 200;
  }
  .text-400{
    font-weight: 400;
  }
  .text-500{
    font-weight: 500;
  }
  .text-bold{
    font-weight: bold;
  }