.slider-container {
    width: 100%;
    display:flex;
    flex-direction: column;
  }
  
  .slider {
      padding: 0;
    -webkit-appearance: none;  
    appearance: none;
    /* width: 100%;  */
    height: .5rem; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider-value{
color:var(--dark-color);
  }
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:1.5rem; 
    height:1.5rem;
    border-radius: 50%;
    background: var(--primary-color); 
    cursor: pointer; 
  }

  
  .slider::-moz-range-thumb {
    width:1.5rem; 
    height:1.5rem; 
    background: var(--primary-color); 
    
    cursor: pointer;
  }