.navbar .container, .navbar-white .container, .navbar-black .container, .navbar-gray .container, .navbar-purple .container, .navbar-orange .container, .navbar-green .container, .navbar-yellow .container, .navbar-red .container, .navbar-blue .container, .navbar-info .container, .navbar-error .container, .navbar-secondary .container, .navbar-primary .container, .navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-green, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-green, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
  }
  .navbar .site-title, .navbar-white .site-title, .navbar-black .site-title, .navbar-gray .site-title, .navbar-purple .site-title, .navbar-orange .site-title, .navbar-green .site-title, .navbar-yellow .site-title, .navbar-red .site-title, .navbar-blue .site-title, .navbar-info .site-title, .navbar-error .site-title, .navbar-secondary .site-title, .navbar-primary .site-title {
    font-size: 1.5rem;
  }
  .navbar-primary {
    background-color: #326dee;
  }
  
  .navbar-secondary {
    background-color: #1ac886;
  }
  
  .navbar-error {
    background-color: #d32752;
  }
  
  .navbar-info {
    background-color: #f6c31c;
  }
  
  .navbar-blue {
    background-color: #1919e6;
  }
  
  .navbar-red {
    background-color: #e61919;
  }
  
  .navbar-yellow {
    background-color: #e6e619;
  }
  
  .navbar-green {
    background-color: #19e635;
  }
  
  .navbar-orange {
    background-color: #ffa600;
  }
  
  .navbar-purple {
    background-color: #9900ff;
  }
  
  .navbar-gray {
    background-color: #808080;
  }
  
  .navbar-black {
    background-color: black;
  }
  
  .navbar-white {
    background-color: white;
  }